<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--WEB FORMS-->
  <errordite
    token="xojuD1Sn8L6cjTvNa9t5xgt1wlOGReuHi9aGG0BKCFN43bWIFUs9eMqk9ZTwDAig"
    enabled="true"
    endpoint="http://dev-reception.errordite.com/receiveerror">
    <dataCollectors>
      <dataCollector prefix="Exception" type="Errordite.Client.DataCollectors.ExceptionDataCollector, Errordite.Client" executeForInnerExceptions="true" />
      <dataCollector prefix="HttpContext" type="Errordite.Client.DataCollectors.HttpContextDataCollector, Errordite.Client" executeForInnerExceptions="false" />
      <dataCollector prefix="Environment" type="Errordite.Client.DataCollectors.EnvironmentDataCollector, Errordite.Client" executeForInnerExceptions="false" />
    </dataCollectors>
    <sanitiseParams>
      <param name="Password" match="Contains" />
    </sanitiseParams>
    <unwrapExceptions>
      <exception typeName="System.Web.HttpUnhandledException" />
    </unwrapExceptions>
  </errordite>
  
  <!--MVC 2-->
  <errordite
      token="xojuD1Sn8L6cjTvNa9t5xgt1wlOGReuHi9aGG0BKCFN43bWIFUs9eMqk9ZTwDAig"
      enabled="true"
      endpoint="http://dev-reception.errordite.com/receiveerror">
    <dataCollectors>
      <dataCollector prefix="Exception" type="Errordite.Client.DataCollectors.ExceptionDataCollector, Errordite.Client.Mvc2" executeForInnerExceptions="true" />
      <dataCollector prefix="HttpContext" type="Errordite.Client.DataCollectors.HttpContextDataCollector, Errordite.Client.Mvc2" executeForInnerExceptions="false" />
      <dataCollector prefix="Environment" type="Errordite.Client.DataCollectors.EnvironmentDataCollector, Errordite.Client.Mvc2" executeForInnerExceptions="false" />
    </dataCollectors>
    <sanitiseParams>
      <param name="Password" match="Contains" />
    </sanitiseParams>
    <unwrapExceptions>
      <exception typeName="System.Web.HttpUnhandledException" />
    </unwrapExceptions>
  </errordite>

  <!--MVC 3-->
  <errordite
    token="xojuD1Sn8L6cjTvNa9t5xgt1wlOGReuHi9aGG0BKCFN43bWIFUs9eMqk9ZTwDAig"
    enabled="true"
    endpoint="http://dev-reception.errordite.com/receiveerror">
    <dataCollectors>
      <dataCollector prefix="Exception" type="Errordite.Client.DataCollectors.ExceptionDataCollector, Errordite.Client.Mvc" executeForInnerExceptions="true" />
      <dataCollector prefix="HttpContext" type="Errordite.Client.DataCollectors.HttpContextDataCollector, Errordite.Client.Mvc" executeForInnerExceptions="false" />
      <dataCollector prefix="Environment" type="Errordite.Client.DataCollectors.EnvironmentDataCollector, Errordite.Client.Mvc" executeForInnerExceptions="false" />
    </dataCollectors>
    <sanitiseParams>
      <param name="Password" match="Contains" />
    </sanitiseParams>
    <unwrapExceptions>
      <exception typeName="System.Web.HttpUnhandledException" />
    </unwrapExceptions>
    <ignoreExceptions>
      <exception typeName="System.Web.HttpUnhandledException" httpStatusCode="" />
    </ignoreExceptions>
  </errordite>
</configuration>